:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  --inter: "Inter", serif;
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
}

* {
  box-sizing: border-box;
  margin-top: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--inter);
  font-size: 0.875rem;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  background-color: var(--Grey-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

/* ===============
    TYPOGROPHY
=============== */

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.location {
  color: var(--Green);
  font-weight: 700;
  text-align: center;
}

.social-link {
  font-weight: 700;
}

@media (min-width: 675px) {
}

@media (min-width: 1025px) {
}

/* ===============
    LAYOUT
=============== */

.card {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--Grey-800);
  border-radius: 0.75em;
}

img {
  max-width: 88px;
  max-height: 88px;
  border-radius: 50%;
}

h1 {
  margin-bottom: 0.2em;
}

.location {
  margin-bottom: 0;
}

.bio {
  margin-bottom: 0;
}

.social-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.social-link {
  background-color: var(--Grey-700);
  border-radius: 0.5em;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 1em 0;
}
